.navbar {
    margin-top: 3em;
}
.navbarContactBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: red;
    height: 6rem;
    font-weight: 500;
    color:white;
}

.navbarContact {
    display: grid;
    margin-left: 10px;
    grid-template-columns: 1fr 1fr;
}

.brandPizza {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 100px;
    margin-right: 16px;
    font-size: 16px;
    padding: 5px;
    width: 150px;
    height: 150px;
    }

.brandPizza img {
    padding-top: 10px;
    height: 60px;
    width: 60px;
    
}



@media only screen and (max-width: 600px) {
    .brandPizza{
        font-size: 12px;
        text-align: center;
        padding: 0;
        width: 90px;
        height: 90px;
        border-radius: 100px;
    }

    .brandPizza img { 
        height: 37px;
        width: 31px;
    }

    .navbarContactBox {    
    height: 3rem;
}
}